/* Estilo del cuerpo y fondo */
body {
    font-family: 'Poppins', sans-serif; /* Fuente elegante */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("wppr_1.jpg");
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
}

/* Cambia la imagen de fondo en pantallas pequeñas */
@media (max-width: 768px) {
    body {
        background-image: url("wppr_1.jpg"); /* Imagen específica para móviles */
    }
}

/* Contenedor principal con efecto blur */
.container {
    text-align: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Texto descriptivo */
p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 400;
}

/* Botón de descarga */
.a {
    text-decoration: none;
    color: #ffffff;
    background-color: #457b9d;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
}

/* Hover del botón */
.a:hover {
    background-color: #1d3557;
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}